<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Quản trị Admin - AnimeAB">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="AnimeAB">
    <meta property="og:title" content="AnimeAB">
    <meta property="og:description" content="Quản trị Admin - AnimeAB">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Toastr Notification -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="@Url.Action("Index", "Home", null, Context.Request.Scheme)">
            <img src="~/image/logo.png" alt="AnimeAB" />
        </a>
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <li class="app-search">

            </li>
           
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Profile", "Account", Context.Request.Scheme)">
                            <i class="fa fa-user fa-lg"></i> Tài khoản
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Logout", "AccountLogin")"><i class="fa fa-sign-out fa-lg"></i> Đăng xuất</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    @{ await Html.RenderPartialAsync("_Menu.cshtml"); }
    <main class="app-content">
        @RenderBody()
    </main>
    <!-- Essential javascripts for application to work-->
    <script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <!-- Sweetalert Notification -->
    <script type="text/javascript" src="~/js/required.js"></script>
    <script type="text/javascript" src="~/js/sweetalert.min.js"></script>
    <!--Toastr notification-->
    <script type="text/javascript" src="~/message-box/toastr.min.js"></script>
    <script type="text/javascript" src="~/js/chart.js"></script>
    <script type="text/javascript" src="~/js/select2.min.js"></script>
    <!--Date picker-->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    @RenderSection("scripts", false)

</body>
</html>