@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using System.Security.Claims
@model AnimeAB.Domain.DTOs.ProfileDto

@{
    var roles = ((ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).First();
    var avt = User.FindFirst("Avatar").Value == "" ? "/image/avatar.jpg" : User.FindFirst("Avatar").Value;
    var email = User.FindFirst(ClaimTypes.Email).Value;
    var displayName = User.FindFirst(ClaimTypes.Name).Value;
    var token = User.FindFirst(ClaimTypes.Authentication).Value;
}

@{
    ViewBag.Title = "AnimeAB - Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row user">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <a href="#">
                    <img class="user-img"
                         src="@avt" />
                </a>
                <p class="display-name">@displayName</p>
                <a href="#" class="text-white" data-toggle="modal" data-target="#photoUrl">Thay đổi ảnh đại diện và tên</a>
            </div>
            <div class="cover-image"></div>
        </div>
    </div>
    <div class="modal" id="photoUrl" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thay đổi ảnh đại diện và tên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Ảnh đại diện</label>
                    <br />
                    <input class="form-control" type="file" id="fileUpload"/>
                    <span class="text-danger" id="error-file"></span>
                    <br />
                    <label>Tên của bạn</label>
                    <br />
                    <input class="form-control" type="text" id="displayName" value="@displayName" placeholder="Tên của bạn" />
                    <span class="text-danger" id="error-display-name"></span>
                    <input class="hidden" style="opacity: 0" value="@token" id="token"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-update">Thay đổi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="tile p-0">
            <ul class="nav flex-column nav-tabs user-tabs">
                <li class="nav-item">
                    <a class="nav-link active"
                       href="#user" data-toggle="tab">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="@Url.Action("Logout", "AccountLogin", Context.Request.Scheme)">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="user">
            <div class="tab-pane active">
                <div class="timeline-post">
                    <div class="post-content">
                        <p><strong>Email:</strong>&nbsp;&nbsp;@email</p>
                        <p class="name"><strong>Tên:</strong>&nbsp;&nbsp;@displayName</p>
                        <p><strong>Chức vụ:</strong>&nbsp;&nbsp;@roles</p>
                    </div>
                    <ul class="post-utility">
                        <li class="likes"><a href="#"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                        <li class="shares"><a href="#"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/controllers/profile.js"></script>
}